 <!-- <section class="why_us_section" style="background-color: brown;"> -->
    <div class="why_main_div" style="margin-bottom: 20px;">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                Build sentences from the following word types.
            </p>

            <div class="skills">
                <span>Adverb</span>
                <span>Noun</span>
                <span>Verb</span>
                <span>Conjuction</span>
                <span>Determiner</span>
                <span>Preposition</span>
                <span>Adjective</span>
                <span>Pronoun</span>
                

            </div>
        </div>

    </div>

