<!-- Footer -->
<footer>
    <div class="footer-items">
        <div class="box one" >
            <h1>About us</h1>
            <hr>
            <div class="content" >
                <P>Good words makes a good sentence</P>

                <div class="readmore">
                    <button>Read more</button>
                </div>
            </div>

        </div>
        <div class="box two">
            <h1>Address</h1>
            <hr>
            <div class="content">
                <div class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="text">Johannesburg, 2094</span>

                </div>
                <div class="Phone">
                    <span class="fas fa-phone-alt"></span>
                    <span class="text">0734531236</span>

                </div>
                <div class="place">
                    <span class="fa fa-envelope"></span>
                    <span class="text">apheleledumakude@gmail.com</span>

                </div>
            </div>

        </div>

        <div class="box three">
            <h1>Follow Us</h1>
            <hr>
            <div class="content">
                <a href=""><span class="fab fa-facebook"></span></a>
                <a href=""><span class="fab fa-instagram"></span></a>
                <a href=""><span class="fab fa-twitter"></span></a>
                <a href=""><span class="fab fa-linkedin"></span></a>
            </div>
        </div>

        <div class="box four">
            <h1>Contact Us</h1>
            <hr>
            <div class="content">
                <form action="#">
                    <div class="email">
                        <div class="text">Email *</div>
                        <input type="text" name="Email" required="">
                    </div>
                    <div class="message">message</div>
                    <textarea cols="25" rows="2" required=""></textarea>
                    <button>Submit</button>

                </form>

            </div>
        </div>

    </div>

    <div class="end">
        <p>Deveped By | <span class="cb">Aphelele Dumakude</span> All @right2023</p>
        
    </div>

     
</footer>
