<div class="wordcontainer">
    <form style="margin-top:60px;">
        <div>
            <label for="uname">First Name:  </label>
            <input class="inputOne" type="text" id="uname" name="name" required size="70" autocomplete="rutjfkde" />
            <span class="validity"></span>
            <!-- <p></p> -->
        </div>

        <div>
            <label for="uname">Last Name </label>
            <input class="inputTwo" type="text" id="uname" name="name" required size="70" autocomplete="rutjfkde" />
            <span class="validity"></span>
            <!-- <p></p> -->
        </div>
        
        <div>
            <label for="uname">Enter Password </label>
            <input class="inputThree" type="password" id="uname" name="name" required size="70" autocomplete="rutjfkde" />
            <span class="validity"></span>
            <!-- <p></p> -->
        </div>

        
        <div>
            <label for="uname">Reenter Password: </label>
            <input class="inputFour" type="password" id="uname" name="name" required size="70" autocomplete="rutjfkde" />
            <span class="validity"></span>
            <!-- <p></p> -->
        </div>

        <div>
            <button>Sign Up</button>
            <button [routerLink]="'/signIn'">Canceal</button>
        </div>
    </form>
</div>


