<div class="wordcontainer">
    <form style="margin-top:60px;">
        <div>
            <label for="uname">User ID:  </label>
            <input class="inputOne" type="text" id="uname" name="name" required size="70" autocomplete="rutjfkde" />
            <span class="validity"></span>
            <!-- <p></p> -->
        </div>

        <div>
            <label for="uname">Password: </label>
            <input class="inputTwo" type="text" id="uname" name="name" required size="70" autocomplete="rutjfkde" />
            <span class="validity"></span>
            <!-- <p></p> -->
        </div>

        <div>
            <button>Log In</button>
            <button [routerLink]="'/signUp'" class="myBtn">Sign Up</button>
        </div>

    </form>
</div>


